# Node
node_modules/
dist/
build/

# Testing
coverage/

# Misc
.DS_Store
*.log

# Env files
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.pytest_cache/

# Hardhat
blockchain/artifacts/
blockchain/cache/
blockchain/typechain/
blockchain/typechain-types/
coverage.json
